*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
*.bin
*.txt
bin/
cgi-bin/
conf/
error/
icons/
logs/
manual/
modules/
application/config/
htdocs/phpmyadmin
/htdocs/mathtestphp/add1.php
/htdocs/mathtestphp/add2.php
/htdocs/mathtestphp/add3.php
/htdocs/mathtestphp/add4.php
/htdocs/mathtestphp/addset1.htm
/htdocs/mathtestphp/addset2.htm
/htdocs/mathtestphp/addset3.htm
/htdocs/mathtestphp/addset4.htm
/htdocs/mathtestphp/d1ans.php
/htdocs/mathtestphp/divide1.php
/htdocs/mathtestphp/divide2.php
/htdocs/mathtestphp/divide31.php
/htdocs/mathtestphp/divide32.php
/htdocs/mathtestphp/divide41.php
/htdocs/mathtestphp/dividset1.htm
/htdocs/mathtestphp/dividset2.htm
/htdocs/mathtestphp/dividset31.htm
/htdocs/mathtestphp/dividset32.htm
/htdocs/mathtestphp/dividset41.htm
/htdocs/mathtestphp/factor.htm
/htdocs/mathtestphp/factor.php
/htdocs/mathtestphp/factor.phpold
/htdocs/mathtestphp/index.htm
/htdocs/mathtestphp/list.htm
/htdocs/mathtestphp/math.htm
/htdocs/mathtestphp/minus1.php
/htdocs/mathtestphp/minus2.php
/htdocs/mathtestphp/minus3.php
/htdocs/mathtestphp/minus4.php
/htdocs/mathtestphp/minusset1.htm
/htdocs/mathtestphp/minusset2.htm
/htdocs/mathtestphp/minusset3.htm
/htdocs/mathtestphp/minusset4.htm
/htdocs/mathtestphp/multi1.php
/htdocs/mathtestphp/multi2.php
/htdocs/mathtestphp/multi3.php
/htdocs/mathtestphp/multi4.php
/htdocs/mathtestphp/multiple.htm
/htdocs/mathtestphp/multiple.php
/htdocs/mathtestphp/multiple.phpold
/htdocs/mathtestphp/multiset1.htm
/htdocs/mathtestphp/multiset2.htm
/htdocs/mathtestphp/multiset3.htm
/htdocs/mathtestphp/multiset4.htm
